<a href="https://colab.research.google.com/github/qus0in/Python/blob/main/submission/qus0in/ch02_09_%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%84%9C%EC%8B%9D_qus0in.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 서식

파이썬에서 문자열 포맷팅을 할 때는 f-string, format 메소드, 서식 지정자를 사용할 수 있습니다.

## f-string

f-string은 파이썬 3.6 이후부터 사용 가능한 문자열 포맷팅 방법 중 하나입니다. f-string을 사용하면 문자열 안에서 변수의 값을 간단하게 삽입할 수 있으며, 이를 통해 가독성과 코드 작성의 편의성이 크게 향상됩니다.

In [3]:
name = "Alice"
age = 25

In [7]:
print("이름:", name, "나이:", age, "세")
print("이름:", name, "나이:", age, "세", sep="")
print("이름: ", name, ", 나이: ", age, "세", sep="")

이름: Alice 나이: 25 세
이름:Alice나이:25세
이름: Alice, 나이: 25세

In [8]:
"이름: " + name + ", 나이: " + age + "세"

TypeError: ignored

In [9]:
"이름: " + name + ", 나이: " + str(age) + "세"

'이름: Alice, 나이: 25세'

In [11]:
# f"..." : f-string
# f"텍스트... {변수명, 리터럴}" : 포맷팅된 문자열 표현
f"이름: {name}, 나이: {age}세"

'이름: Alice, 나이: 25세'

In [19]:
# f{...:d} : 숫자(정수) 표현을 강제 (int를 씌워주는 효과 -> integer가 아니면 다 오류)
f"{age:d}" # decimal # 10진법

ValueError: ignored

In [20]:
f"{0.0025:d}"

ValueError: ignored

In [13]:
f"{name:d}" # decimal

ValueError: ignored

In [18]:
# f{...:0[0의 갯수]d} : zfill (갯수만큼 빈 공간에 0을 채움) 
f"{age:02d}", f"{1:02d}", f"{age:04d}", str(age).zfill(4)

('25', '01', '0025', '0025')

In [21]:
print(f"{age:010d}")

0000000025

In [22]:
print(f"{age:+010d}")

+000000025

In [27]:
print(f"{-100:-010d}")
print(f"{-100:+010d}")

-000000100
-000000100

In [29]:
height = 175.5

In [30]:
# f{...:f} : float를 나타냄. 
f"{age:f}", f"{height:f}"

('25.000000', '175.500000')

In [32]:
# f{...:.[표시하고싶은자리수]f} : float를 나타냄. 
f"{age:.2f}", f"{height:.2f}", f"{age:.4f}%", f"{height:.4f}"

('25.00', '175.50', '25.0000%', '175.5000')

In [35]:
# f{...:0[채울갯수].[표시하고싶은자리수]f} : float를 나타냄. 
f"{age:010.2f}", f"{height:010.2f}", f"{age:010.4f}", f"{height:010.4f}"

('0000025.00', '0000175.50', '00025.0000', '00175.5000')

In [48]:
print(f"이름: {name}, 나이: {age}세")
print(f"{age:d}")
print(f"{age:d}\
        fffff")
# print(f"{age:d}"
#         + f"{age:d}")
print(f"{age:010d}")
print(f"{age:+010d}")
print(f"{height:.2f}")
print(f"{height:010.2f}")

이름: Alice, 나이: 25세
25
25        fffff
0000000025
+000000025
175.50
0000175.50

In [37]:
f"{age}", f'{age}', f'''{age}''', f"""{age}"""

('25', '25', '25', '25')

In [38]:
a = f"{age:d}"
b = f"{age:010d}"
c = f"{age:+010d}"
d = f"{height:.2f}"
e = f"{height:010.2f}"

print(a)
print(b)
print(c)
print(d)
print(e)
print(a + b)

25
0000000025
+000000025
175.50
0000175.50
250000000025

https://blockdmask.tistory.com/429

### format 메소드

In [46]:
name = "Alice"
age = 25
height = 175.5

formatted_str = "이름: {}, 나이: {}세".format(name, age)
# formatted_str2 = "이름: {name}, 나이: {age}세".format(name, age)
formatted_str2 = "이름: {name}, 나이: {age}세".format(
    age=age,
    name=name)
# print(formatted_str)
print(formatted_str2)

a = "{}".format(age)
print(a)
b = "{:010d}".format(age)
print(b)
c = "{:+010d}".format(age)
print(c)
d = "{:.2f}".format(height)
print(d)
e = "{:010.2f}".format(height)
print(e)

이름: Alice, 나이: 25세
25
0000000025
+000000025
175.50
0000175.50

### 서식 지정자

서식 지정자는 문자열 포맷팅에서 사용하는 기호로, 변수의 값을 특정한 형식으로 표현할 때 사용됩니다. 서식 지정자는 % 기호를 사용하여 문자열에 삽입합니다.

In [54]:
name = "Alice"
age = 25
height = 175.5

# formatted_str = "이름: {}, 나이: {}세".format(name, age)
formatted_str = "이름: %s, 나이: %d세" % (name, age)
print(formatted_str)

# a = "{}".format(age)
a = "%d" % age
print(a)
# b = "{:010d}".format(age)
b = "%010d" % age
print(b)
# c = "{:+010d}".format(age)
c = "%+010d" % age
print(c)
# d = "{:.2f}".format(height)
d = "%.2f" % height
print(d)
# e = "{:010.2f}".format(height)
e = "%010.2f" % height
print(e)

이름: Alice, 나이: 25세
25
0000000025
+000000025
175.50
0000175.50

## 서식 문자

서식 지정자에서는 %s, %d, %f 등의 서식 문자를 사용하여 출력할 값의 데이터 타입을 지정할 수 있습니다. 이 서식 문자를 사용하여 문자열, 숫자, 소수점 등을 출력할 수 있습니다. 서식 문자는 f-string, format 메소드 등에서도 활용할 수 있습니다. (%s는 기본값이라 생략됨)

%d와 %f를 사용할 때는 정수형 변수와 실수형 변수를 출력할 수 있으며, %s는 문자열 변수를 출력합니다. 이때 %s를 사용할 경우, 변수의 데이터 타입과 상관없이 모든 값을 출력할 수 있습니다.

In [56]:
# %s : 문자열을 출력할 때 사용합니다.
name = "Alice"
formatted_name = "이름 : %s" % name
print(formatted_name)
print(f"이름 : {name}")

이름 : Alice
이름 : Alice

In [57]:
# %d : 10진수 정수를 출력할 때 사용합니다.
age = 25
formatted_age = "나이 : %d세" % age
print(formatted_age)
print(f"나이 : {age:d}세")

나이 : 25세
나이 : 25세

In [59]:
# %f : 실수를 출력할 때 사용합니다. 기본적으로 소수점 이하 6자리까지 출력됩니다.
height = 175.5
formatted_height = "키 : %fcm" % height # %f시 기본 .6f
print(formatted_height)
print(f"키 : {height:.6f}cm")

키 : 175.500000cm
키 : 175.500000cm

서식 문자를 사용하여 출력할 값의 자리수를 지정할 수도 있습니다. 자리수를 지정하면 해당 자리수만큼 출력되며, 값의 길이가 자리수보다 작으면 빈 칸이 채워집니다.

In [61]:
# %[너비]d : [너비] 자리에 출력할 숫자의 자리수를 지정합니다.
num = 123
a = "%d" % num
b = "%5d" % num
c = "%010d" % num
d = "%-5d" % num
e = "%+5d" % num
print(a)
print(b)
print(c)
print(d)
print(e)
f = "%110d" % num
print(f)

123
  123
0000000123
123
 +123
                                                                                                           123

In [62]:
from math import pi

pi

3.141592653589793

In [63]:
# %[너비].[정밀도]f : [너비] 자리에 출력할 숫자의 자리수를, [정밀도] 자리에 출력할 소수점 이하 자리수를 지정합니다.
pi = 3.1415926535

a = "%f" % pi
b = "%.2f" % pi
c = "%10.2f" % pi
d = "%010.2f" % pi
e = "%-10.2f" % pi
f = "%+10.2f" % pi

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

3.141593
3.14
      3.14
0000003.14
3.14
     +3.14